<!-- Header -->
<div id="header">
    <div class="top">
        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48"><img src="img/avatar.jpg" alt="" /></span>
            <h1 id="title">{{ .Site.Params.name }}</h1>
            <p>{{ .Site.Params.description }}</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                {{ range .Site.Params.contents }}
                    {{ $id := (print .href "-link") }}
                    <li>
                        <a href="#{{ .href }}" id="{{ $id }}" class="skel-layers-ignoreHref">
                            <span class="icon {{ .icon }}">{{ .title }}</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </nav>
    </div>

    <!-- Bottom of Nav Bar -->
    <div class="bottom">
        <!-- Social Icons -->
        <ul class="icons">
            {{ partial "social" .Site }}
        </ul>
    </div>
</div>
