<!-- Portfolio -->
<section id="portfolio" class="two">
    <div class="container">
        <header>
            <h2>Portfolio</h2>
        </header>
        <p>{{ .content.description }}</p>

        <div class="row">
            {{ range .top.Site.Params.portfolio }}
                <div class="4u 12u$(mobile)">
                    <article class="item">
                        <a href="{{ .url }}" class="image fit image_portfolio" target=”_blank” rel=”noopener”>
                            <img src="{{ .source }}" alt="{{ .alt }}" />
                            <header>
                                <h3>{{ .title }}</h3>
                            </header>
                        </a>
                    </article>
                </div>
            {{ end }}
        </div>
    </div>
</section>
