{{ with .Site.Social.twitter }}
    <li><a href="https://twitter.com/{{ . }}" class="icon fa fa-twitter" target=”_blank” rel=”noopener”>
        <span class="label">twitter</span>
    </a></li>
{{ end }}

{{ with .Site.Social.github }}
    <li><a href="https://github.com/{{ . }}" class="icon fa fa-github" target=”_blank” rel=”noopener”>
        <span class="label">github</span>
    </a></li>
{{ end }}

{{ with .Site.Social.facebook }}
    <li><a href="https://facebook.com/{{ . }}" class="icon fa fa-facebook" target=”_blank” rel=”noopener”>
        <span class="label">facebook</span>
    </a></li>
{{ end }}

{{ with .Site.Social.dribbble }}
    <li><a href="https://dribbble.com/{{ . }}" class="icon fa fa-dribbble" target=”_blank” rel=”noopener”>
        <span class="label">dribbble</span>
    </a></li>
{{ end }}

{{ with .Site.Social.email }}
    <li><a href="mailto:{{ . }}" class="icon fa fa-envelope" target=”_blank” rel=”noopener”>
        <span class="label">email</span>
    </a></li>
{{ end }}
