{{ with .Site.Social.twitter }}
    <li><a href="//twitter.com/{{ . }}" class="icon fa fa-twitter"><span class="label">twitter</span></a></li>
{{ end }}

{{ with .Site.Social.github }}
    <li><a href="//github.com/{{ . }}" class="icon fa fa-github"><span class="label">github</span></a></li>
{{ end }}

{{ with .Site.Social.facebook }}
    <li><a href="//facebook.com/{{ . }}" class="icon fa fa-facebook"><span class="label">facebook</span></a></li>
{{ end }}

{{ with .Site.Social.dribbble }}
    <li><a href="//dribbble.com/{{ . }}" class="icon fa fa-dribbble"><span class="label">dribbble</span></a></li>
{{ end }}

{{ with .Site.Social.email }}
    <li><a href="mailto:{{ . }}" class="icon fa fa-envelope"><span class="label">email</span></a></li>
{{ end }}
